#firstp {
    font-size: 17px;
    font-family: sans-serif;
}

#h1 {
    color: white;
    background-color: blue;
    font-family: sans-serif;
}

#secondp {
    font-size: 17px;
    font-family: sans-serif;
}

#thirdp {
    font-size: 17px;
    font-family: sans-serif;
}
#fourthp{
    font-size: 17px;
    font-family: sans-serif
}